<div class="row">
    <div class="col-lg-12">
        <form class="form-inline">
            <div class="form-group">
                <label for="date_in" class="control-label">Период с ...</label>
                <input type="date" ng-model="date_in" min="{{period_in | date : 'yyyy-MM-dd'}}" max="{{period_out | date : 'yyyy-MM-dd'}}" id="date_in" class="form-control" placeholder="Период с ...">
                <label for="date_out" class="control-label">Период по ...</label>
                <input type="date" ng-model="date_out" min="{{period_in | date : 'yyyy-MM-dd'}}" max="{{period_out | date : 'yyyy-MM-dd'}}" id="date_out" class="form-control" placeholder="Период по ...">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form class="form-inline">
            <div class="form-group">
                <label class="control-label">Время прихода </label>
                <label for="time_in_min" class="control-label"> &nbsp;с ... &nbsp;</label>
                <input type="time" ng-model="time_in_min" id="time_in_min" class="form-control" placeholder="HH:mm" min="00:00" max="23:59" step="900">
                <label for="time_in_max" class="control-label"> &nbsp;до ... &nbsp;</label>
                <input type="time" ng-model="time_in_max" id="time_in_max" class="form-control" placeholder="HH:mm" min="00:00" max="23:59" step="900">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Сотрудники</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="search" ng-model="employer_name" class="form-control" placeholder="Сотрудник">
                            </div>
                            <div class="form-group">
                                <input type="search" ng-model="manager_name" class="form-control" placeholder="Руководитель">
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-striped table-bordered" style="font-size: 14px;">
                    <thead>
                    <tr>
                        <th ng-click="sortEmployers='id'; reverse=!reverse">№</th>
                        <th ng-click="sortEmployers='name'; reverse=!reverse">Ф.И.О.</th>
                        <th ng-click="sortEmployers='manager'; reverse=!reverse">Руководитель</th>
                        <th ng-click="sortEmployers='parsedShiftAVG'; reverse=!reverse">Средняя продолжительность рабочего дня</th>
                        <th ng-click="sortEmployers='parsedTimeWorked'; reverse=!reverse">Суммарное отработанное время за выбранный период</th>
                        <th ng-click="sortEmployers='parsedTimeInAVG'; reverse=!reverse">Среднее время прихода</th>
                        <th ng-click="sortEmployers='parsedTimeOutAVG'; reverse=!reverse">Среднее время ухода</th>
                        <th ng-click="sortEmployers='absentDays'; reverse=!reverse">Количество дней отсутствия на работе</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="employer in search(employer_name, manager_name, date_in, date_out, time_in_min, time_in_max ) | orderBy:sortEmployers:reverse track by $index">
                        <td>{{employer.id}}</td>
                        <td ng-click="detalization(employer.id)"><button type="button" class="btn-link" style="white-space: nowrap;">{{employer.name}}</button></td>
                        <td ng-click="showManager(employer.manager.id)"><button type="button" class="btn-link" style="white-space: nowrap;">{{employer.manager.name}}</button></td>
                        <td>{{employer.parsedShiftAVG}}</td>
                        <td>{{employer.parsedTimeWorked}}</td>
                        <td>{{employer.parsedTimeInAVG}}</td>
                        <td>{{employer.parsedTimeOutAVG}}</td>
                        <td>{{employer.absentDays}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>