<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal">
            <div class="form-group form-inline">
                <label class="control-label">Время прихода </label>
                <label for="time_in" class="control-label"> &nbsp;с ... &nbsp;</label>
                <input type="time" ng-model="time_in_min" id="time_in" class="form-control" placeholder="HH:mm" min="00:00" max="23:59" step="900">
                <label for="time_out" class="control-label"> &nbsp;до ... &nbsp;</label>
                <input type="time" ng-model="time_out_max" id="time_out" class="form-control" placeholder="HH:mm" min="00:00" max="23:59" step="900">
            </div>
        </form>
    </div>
    <div class="col-lg-12">
        <nav>
            <ul class="pager">
                <li class="previous"><a href="#/employers"><span aria-hidden="true">&larr;</span> Назад к списку сотрудников</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">№{{employer.id}} {{employer.name}}</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered" style="font-size: 14px;">
                    <thead>
                    <tr>
                        <th>Средняя продолжительность рабочего дня</th>
                        <th>Суммарное отработанное время за выбранный период</th>
                        <th>Среднее время прихода</th>
                        <th>Среднее время ухода</th>
                        <th>Количество дней отсутствия на работе</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{employer.parsedShiftAVG}}</td>
                        <td>{{employer.parsedTimeWorked}}</td>
                        <td>{{employer.parsedTimeInAVG}}</td>
                        <td>{{employer.parsedTimeOutAVG}}</td>
                        <td>{{employer.absentDays}}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-bordered" style="font-size: 14px;">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Продолжительность рабочего дня</th>
                        <th>Время прихода</th>
                        <th>Время ухода</th>
                        <th>Отсутствие на работе</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="date in showByDate(employer.id, time_in_min, time_out_max)">
                        <td>{{date.date}}</td>
                        <td>{{date.parsedShiftLength}}</td>
                        <td>{{date.time_in}}</td>
                        <td>{{date.time_out}}</td>
                        <td>{{date.absent}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>