<div class="row">
    <p class="col-xs-9 col-xs-offset-5">
        <input id="inputFileToRead" onchange="angular.element(this).scope().file_changed(angular.element(this)[0].files);" accept="text/*" style="display: none;" type="file" multiple>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('inputFileToRead').click()">Загрузить статистику</button>
    </p>
</div>