<div class="row">
    <div class="col-xs-12">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" ng-model="name" class="form-control" placeholder="Добавить руководителя">
            </div>
            <button ng-click="saveManager(name, $event)" class="btn btn-success">Сохранить</button>
        </form>
    </div>
</div>
<div class="row" ng-hide="noManagers();">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Руководители</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="text" ng-model="filter.name" class="form-control" placeholder="Руководитель">
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-striped table-bordered" style="font-size: 14px;">
                    <thead>
                    <tr>
                        <th ng-click="sortField='id'; reverse=!reverse">№</th>
                        <th ng-click="sortField='name'; reverse=!reverse">Ф.И.О.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="manager in managersList() | orderBy:sortField:reverse | filter:filter track by $index">
                        <td>{{manager.id}}</td>
                        <td ng-click="showManager(manager.id)"><button type="button" class="btn-link" style="white-space: nowrap;">{{manager.name}}</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>