<div class="row">
    <div class="col-xs-12">
        <nav>
            <ul class="pager">
                <li class="previous"><a href="#/managers"><span aria-hidden="true">&larr;</span> Назад к списку менеджеров</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">№{{manager.id}} {{manager.name}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-xs-push-6">
                        <p class="lead">Менеджер {{manager.name}}</p>
                        <table class="table table-striped table-bordered" style="font-size: 14px;">
                            <thead>
                            <tr>
                                <th ng-click="sortManagedEmployers='id'; reverse=!reverse">
                                    <p>№</p>
                                </th>
                                <th>
                                    <form class="form-inline">
                                        <label ng-click="sortManagedEmployers='name'; reverse=!reverse">Ф.И.О.</label>
                                        <input type="search" ng-model="managedFilter.name" class="form-control" placeholder="Сотрудник">
                                    </form>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="myEmployer in showMyEmployers() | orderBy:sortManagedEmployers:reverse | filter:managedFilter track by $index">
                                <td>{{myEmployer.id}}</td>
                                <td ng-click="deleteEmployerFromManager(manager.id, myEmployer.id);"><button type="button" class="btn-link" style="white-space: nowrap;">{{myEmployer.name}}</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-6 col-xs-pull-6">
                        <p class="lead">Все сотрудники</p>
                        <table class="table table-striped table-bordered" style="font-size: 14px;">
                            <thead>
                            <tr>
                                <th ng-click="sortUnManagedEmployers='id'; reverse=!reverse">
                                    <p>№</p>
                                </th>
                                <th>
                                    <form class="form-inline">
                                        <label ng-click="sortUnManagedEmployers='name'; reverse=!reverse">Ф.И.О.</label>
                                        <input type="search" ng-model="unManagedFilter.name" class="form-control" placeholder="Сотрудник">
                                    </form>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="employer in showAllEmployers() | orderBy:sortUnManagedEmployers:reverse | filter:unManagedFilter track by $index">
                                <td>{{employer.id}}</td>
                                <td ng-click="addEmployerToManager(manager.id, employer.id);"><button type="button" class="btn-link" style="white-space: nowrap;">{{employer.name}}</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>