
            <div class="modal-content">
                <!--<div class="modal-header">-->
                    <!--<h3 class="modal-title">&nbsp;</h3>-->
                <!--</div>-->
                <div class="modal-dialog">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <progressbar class="progress-striped active" value="100" type="info"></progressbar>
                        </div>
                    </div>
                </div>
                <!--<div class="modal-footer">-->
                    <!--&nbsp;-->
                <!--</div>-->
            </div>