<html ng-app="app">
<head>
    <meta charset="utf-8">
    <!--<base href="{{$location.path}}">-->
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-route.js"></script>
    <script type="text/javascript" src="js/lib/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script type="text/javascript" src="js/utf8.js"></script>
    <script type="text/javascript" src="js/db.js"></script>
    <script type="text/javascript" src="js/FileReader.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/factories.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
<body role="body"  ng-controller="SiteController">
<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col-lg-12" ng-controller="PageController">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/">HR</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li ng-class="{active: isSelected('employers')}"><a href="#/employers" ng-click="setPage('employers')">Сотрудники </a></li>
                            <li ng-class="{active: isSelected('managers')}"><a href="#/managers" ng-click="setPage('managers')">Руководители </a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div ng-view></div>

</div>

</body>
<script type='text/ng-template' id='partials/main.html'>
    <fileinput></fileinput>
    <employers ng-hide="isEmpty()"></employers>
</script>
<script type='text/ng-template' id='partials/managers.html'>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" id="newManager_name" ng-model="name" class="form-control" placeholder="Добавить руководителя">
                </div>
                <button ng-click="saveManager()" class="btn btn-success">Сохранить</button>
            </form>
        </div>
    </div>
    <div class="row" ng-hide="noManagers();">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Руководители</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" ng-model="filter.name" class="form-control" placeholder="Руководитель">
                                </div>
                            </form>
                        </div>
                    </div>
                    <table class="table table-striped" style="font-size: 14px;">
                        <thead>
                        <tr>
                            <th ng-click="sortField='id'; reverse=!reverse">№</th>
                            <th ng-click="sortField='name'; reverse=!reverse">Ф.И.О.</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="manager in managersList() | orderBy:sortField:reverse | filter:filter track by $index">
                            <td>{{manager.id}}</td>
                            <td><button type="button" ng-click="showManager(manager.id)" class="btn-link" style="white-space: nowrap;">{{manager.name}}</button></td>
                            <td><span class="glyphicon glyphicon-remove-circle" ng-click="deleteManager(manager)" style="font-size: 20px; cursor: pointer;"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>
<script type='text/ng-template' id='partials/employer_details.html'>
    <div class="row">
        <div class="col-xs-12">
            <nav>
                <ul class="pager">
                    <li class="previous"><a href="#/employers"><span aria-hidden="true">&larr;</span> Назад к списку сотрудников</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label">Время прихода </label>
                    <label for="time_in_min" class="control-label"> &nbsp;с ... &nbsp;</label>
                    <input type="time" ng-model="time_in_min" id="time_in_min" class="form-control" placeholder="HH:mm" min="00:00" max="23:59" step="900">
                    <label for="time_in_max" class="control-label"> &nbsp;до ... &nbsp;</label>
                    <input type="time" ng-model="time_in_max" id="time_in_max" class="form-control" placeholder="HH:mm" min="00:00" max="23:59" step="900">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">№{{employer.id}} {{employer.name}}</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered" style="font-size: 14px;">
                        <thead>
                        <tr>
                            <th>Средняя продолжительность рабочего дня</th>
                            <th>Суммарное отработанное время за выбранный период</th>
                            <th>Среднее время прихода</th>
                            <th>Среднее время ухода</th>
                            <th>Количество дней отсутствия на работе</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{employer.parsedShiftAVG}}</td>
                            <td>{{employer.parsedTimeWorked}}</td>
                            <td>{{employer.parsedTimeInAVG}}</td>
                            <td>{{employer.parsedTimeOutAVG}}</td>
                            <td>{{employer.absentDays}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered" style="font-size: 14px;">
                        <thead>
                        <tr>
                            <th ng-click="sortField='date'; reverse=!reverse">Дата</th>
                            <th ng-click="sortField='parsedShiftLength'; reverse=!reverse">Продолжительность рабочего дня</th>
                            <th ng-click="sortField='time_in'; reverse=!reverse">Время прихода</th>
                            <th ng-click="sortField='time_out'; reverse=!reverse">Время ухода</th>
                            <th ng-click="sortField='absent'; reverse=!reverse">Отсутствие на работе</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="date in showByDate(employer.id, time_in_min, time_in_max) | orderBy:sortField:reverse track by $index">
                            <td>{{date.date}}</td>
                            <td>{{date.parsedShiftLength}}</td>
                            <td>{{date.time_in}}</td>
                            <td>{{date.time_out}}</td>
                            <td>{{date.absent}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>
<script type='text/ng-template' id='partials/manager_details.html'>
    <div class="row">
        <div class="col-xs-12">
            <nav>
                <ul class="pager">
                    <li class="previous"><a href="#/managers"><span aria-hidden="true">&larr;</span> Назад к списку руководителей</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">№{{manager.id}} {{manager.name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-xs-push-6">
                            <p class="lead">Менеджер {{manager.name}}</p>
                            <table class="table table-striped table-bordered" style="font-size: 14px;">
                                <thead>
                                <tr>
                                    <th ng-click="sortManagedEmployers='id'; reverse=!reverse">
                                        <p>№</p>
                                    </th>
                                    <th>
                                        <form class="form-inline">
                                            <label ng-click="sortManagedEmployers='name'; reverse=!reverse">Ф.И.О.</label>
                                            <input type="search" ng-model="managedFilter.name" class="form-control" placeholder="Сотрудник">
                                        </form>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="myEmployer in showMyEmployers() | orderBy:sortManagedEmployers:reverse | filter:managedFilter track by $index">
                                    <td>{{myEmployer.id}}</td>
                                    <td><button type="button" ng-click="deleteEmployerFromManager(manager.id, myEmployer.id);" class="btn-link" style="white-space: nowrap;">{{myEmployer.name}}</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-6 col-xs-pull-6">
                            <p class="lead">Все сотрудники</p>
                            <table class="table table-striped table-bordered" style="font-size: 14px;">
                                <thead>
                                <tr>
                                    <th ng-click="sortUnManagedEmployers='id'; reverse=!reverse">
                                        <p>№</p>
                                    </th>
                                    <th>
                                        <form class="form-inline">
                                            <label ng-click="sortUnManagedEmployers='name'; reverse=!reverse">Ф.И.О.</label>
                                            <input type="search" ng-model="unManagedFilter.name" class="form-control" placeholder="Сотрудник">
                                        </form>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="employer in showAllEmployers() | orderBy:sortUnManagedEmployers:reverse | filter:unManagedFilter track by $index">
                                    <td>{{employer.id}}</td>
                                    <td><button type="button" ng-click="addEmployerToManager(manager.id, employer.id);" class="btn-link" style="white-space: nowrap;">{{employer.name}}</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type='text/ng-template' id='partials/fileinput.html'>
    <div class="row">
        <div class="col-md-9 col-md-push-3">
            <button type="button" class="btn btn-danger" ng-hide="isEmpty()" ng-click="clearDb();">Очистить статистику</button>
        </div>
        <div class="col-md-3 col-md-pull-9">
            <input id="inputFileToRead" onchange="angular.element(this).scope().file_changed(angular.element(this)[0]);" accept="text/*" style="display: none;" type="file" multiple>
            <button type="button" class="btn btn-primary" onclick="document.getElementById('inputFileToRead').click()">Загрузить статистику</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9">
            &nbsp;
        </div>
    </div>
</script>
<script type='text/ng-template' id='partials/employers.html'>
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline">
                <div class="form-group">
                    <label for="date_in" class="control-label">Период с ...</label>
                    <input type="date" ng-model="date_in" min="{{period_in | date : 'yyyy-MM-dd'}}" max="{{period_out | date : 'yyyy-MM-dd'}}" id="date_in" class="form-control" placeholder="Период с ...">
                    <label for="date_out" class="control-label">Период по ...</label>
                    <input type="date" ng-model="date_out" min="{{period_in | date : 'yyyy-MM-dd'}}" max="{{period_out | date : 'yyyy-MM-dd'}}" id="date_out" class="form-control" placeholder="Период по ...">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label">Время прихода </label>
                    <label for="time_in_min" class="control-label"> &nbsp;с ... &nbsp;</label>
                    <input type="time" ng-model="time_in_min" id="time_in_min" class="form-control" placeholder="HH:mm" min="00:00" max="23:59" step="900">
                    <label for="time_in_max" class="control-label"> &nbsp;до ... &nbsp;</label>
                    <input type="time" ng-model="time_in_max" id="time_in_max" class="form-control" placeholder="HH:mm" min="00:00" max="23:59" step="900">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Сотрудники</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="search" ng-model="employer_name" class="form-control" placeholder="Сотрудник">
                                </div>
                                <div class="form-group">
                                    <input type="search" ng-model="manager_name" class="form-control" placeholder="Руководитель">
                                </div>
                            </form>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered" style="font-size: 14px;">
                        <thead>
                        <tr>
                            <th ng-click="sortEmployers='id'; reverse=!reverse">№</th>
                            <th ng-click="sortEmployers='name'; reverse=!reverse">Ф.И.О.</th>
                            <th ng-click="sortEmployers='manager.name'; reverse=!reverse">Руководитель</th>
                            <th ng-click="sortEmployers='parsedShiftAVG'; reverse=!reverse">Средняя продолжительность рабочего дня</th>
                            <th ng-click="sortEmployers='parsedTimeWorked'; reverse=!reverse">Суммарное отработанное время за выбранный период</th>
                            <th ng-click="sortEmployers='parsedTimeInAVG'; reverse=!reverse">Среднее время прихода</th>
                            <th ng-click="sortEmployers='parsedTimeOutAVG'; reverse=!reverse">Среднее время ухода</th>
                            <th ng-click="sortEmployers='absentDays'; reverse=!reverse">Количество дней отсутствия на работе</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="employer in search(employer_name, manager_name, date_in, date_out, time_in_min, time_in_max ) | orderBy:sortEmployers:reverse track by $index">
                            <td>{{employer.id}}</td>
                            <td><button type="button" ng-click="detalization(employer.id)" class="btn-link" style="white-space: nowrap;">{{employer.name}}</button></td>
                            <td><button type="button" ng-click="showManager(employer.manager.id)" class="btn-link" style="white-space: nowrap;">{{employer.manager.name}}</button></td>
                            <td>{{employer.parsedShiftAVG}}</td>
                            <td>{{employer.parsedTimeWorked}}</td>
                            <td>{{employer.parsedTimeInAVG}}</td>
                            <td>{{employer.parsedTimeOutAVG}}</td>
                            <td>{{employer.absentDays}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>
<script type='text/ng-template' id='partials/progressbar.html'>
    <div class="modal-content">
        <!--<div class="modal-header">-->
        <!--<h3 class="modal-title">&nbsp;</h3>-->
        <!--</div>-->
        <div class="modal-dialog">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <progressbar class="progress-striped active" value="100" type="info"></progressbar>
                </div>
            </div>
        </div>
        <!--<div class="modal-footer">-->
        <!--&nbsp;-->
        <!--</div>-->
    </div>
</script>
</html>